<div class="kalender gross">
	<div class="menue">

		<span class="titel"></span>

		<span class="intervall">
			<a class="aktion" href="#">&#9776;</a>
			<div class="buttons">
				<span class="pfeil">&#9664;</span>
				<a href="{{dateiname}}?tag_{{datum_aktuell}}" class="tag">Tag</a>
				<a href="{{dateiname}}?woche_{{datum_aktuell}}" class="woche">Woche</a>
				<a href="{{dateiname}}?monat_{{datum_aktuell}}" class="monat">Monat</a>
				<span class="liste aktiv">Liste</span>
			</div>
		</span>

	</div>

	<div class="inhalt">
		<div class="listenansicht">
			
			<div class="termine">
				{{#termine}}	
					<div class="termin">
						<h3 class="titel">{{ summary }}</h3>
						<table>
							{{#location}}	
							<tr>
								<th>Ort:</th>
								<td>{{location}}</td>
							</tr>
							{{/location}}
							{{#ganztagig}}
								<tr>
                                                                <th>
								Zeit:</th>
								<td>{{#datum}}{{datum}}{{/datum}}</td>
								</tr>
							{{/ganztagig}}
							{{#nicht_ganztagig}}
								{{#time}}
									<tr>
									<th>Zeit:</th>
									<td>{{#datum}}{{datum}}, {{/datum}}{{ time }} Uhr</td>
									</tr>
								{{/time}}
							{{/nicht_ganztagig}}
							<!-- <span class="raum">Raum: {{ location }}</span>
							<span class="zeit">Zeit: {{datum}}, {{ time }}</span> -->
						</table>
						{{#description_vorschau}}
							<div class="details">
								{{#description_komplett }}
									{{{ description_komplett }}}
								{{/description_komplett }}
							</div>
						{{/description_vorschau}}
					</div>
				{{/termine}}
			</div>
			
		</div>
	</div>
</div>

<script>
      (function() {
        $().ready(function() {
        	$(".weiter-lesen").click(function(e){
	            e.preventDefault();
	            $(this).parent().hide().parent().find(".komplett").show();
	        });
      	});
      })();
</script>
