{{#tag}}
<div class="kalender gross">
	<div class="menue">
		<span class="zeit buttons">
			<a href="{{dateiname}}?tag_{{datum_zurueck}}" class="vergangenheit">&#9664;</a>
			<a href="{{dateiname}}?tag" class="heute">Heute</a>
			<a href="{{dateiname}}?tag_{{datum_vor}}" class="zukunft">&#9654;</a>
		</span>

		<span class="titel"></span>

		<span class="intervall">
			<a class="aktion" href="#">&#9776;</a>
			<div class="buttons">
				<span class="pfeil">&#9664;</span>
				<span class="tag aktiv">Tag</span>
				<a href="{{dateiname}}?woche_{{datum_aktuell}}" class="woche">Woche</a>
				<a href="{{dateiname}}?monat_{{datum_aktuell}}" class="monat">Monat</a>
				<a href="{{dateiname}}?liste" class="liste">Liste</a>
			</div>
		</span>

	</div>

	<div class="inhalt">
		<div class="tagesansicht">

			<div class="kopfzeile clearfix">
				<div class="{{#wochenende}} wochenende {{/wochenende}} {{#sonntag}} sonntag {{/sonntag}}">
					 <span class="tag">{{wochentag_anfang}}<span class="lang">{{wochentag_ende}}, </span></span> <span class="datum">{{datum_kurz}}. {{monat}}</span>
				</div>
			</div>
			
			<div class="tag-container">
        <div class="stunden">
          {{#stunden}}
            <div class="stunde"><span class="icon-uhr">&#9719;</span> {{stunde}}</div>
          {{/stunden}}
        </div>
				<div class="tag" style="height: {{tag_laenge}}px;" data-anfang="{{tag_anfang}}">
					{{#termine}}	
						<a href="javascript:void(0);" class="termin clearfix" style="height: {{duration}}px; top: {{start}}px; left: {{left}}%; width: {{width}}%;" data-start="{{ start }}" data-dauer="{{ duration }}" data-ende="{{ ende }}" data-farbe="{{farbe}}" data-spalten-gesamt="{{spalten_gesamt}}" data-spalte="{{ spalte }}" >
							<span class="titel">{{ summary }}</span>
							<span class="raum">{{ location }}</span>
							<span class="zeit">{{ time }}</span>
							<div class="details">
								<span class="titel">{{ summary }}</span>
								<dl class="liste">
									{{#location}}
										<dt>Ort:</dt>
										<dd>{{location}}</dd>
									{{/location}}
									{{#ganztagig}}
										<dt>Zeit:</dt>
										<dd>{{#datum}}{{datum}}{{/datum}}</dd>
									{{/ganztagig}}
									{{#nicht_ganztagig}}
										{{#time}}
											<dt>Zeit:</dt>
											<dd>{{#datum}}{{datum}}, {{/datum}}{{ time }} Uhr</dd>
										{{/time}}
									{{/nicht_ganztagig}}
									<!-- <span class="raum">Raum: {{ location }}</span>
									<span class="zeit">Zeit: {{datum}}, {{ time }}</span> -->
								</dl>
								<div class="details">
									<span class="komplett" >
										{{{ description_komplett }}}
									</span>
								</div>
							</div>
						</a>
					{{/termine}}
				</div>
			</div>

			<!-- <div class="zeitleiste hint--left hint--always" data-hint="00:00"> </div> -->

			<div class="popup">
				<a href="#" class="schliessen">&#8855;</a>
				<span class="inhalt"></span>
			</div>
			
		</div>
	</div>
</div>
{{/tag}}

<script>
      (function() {
        $().ready(function() {
          

          /*var termin_box = $(".termin");
          termin_box.click(function() {

            var termin = $(this),
            details_alle = $(".details"),
            details = termin.find(".details");
            details_alle.hide();
            
            details.show();

          }); */


          $(document).mouseup(function (e) {

              var container = $(".popup");
              console.log(e);
              if (container.has(e.target).length === 0) {
                  container.hide();
              }
          });

          $(".termin").click(function() {
            console.log($(this).find(".details").html());
            showInPopup($(this).find(".details").html());
            //$(this).find(".details").show();
          });


          $(document).mouseup(function (e) {

              var container = $(".intervall .buttons");

              if (container.has(e.target).length === 0) {
                  container.hide();
              }
          });

          function showInPopup( html ) {
            $(".popup").show().find(".inhalt").html(html);
          }

          function hidePopup() {
             $(".popup").hide();
          }

          $(".aktion").click(function(e) { 
            e.preventDefault();
            // console.log($(this).siblings().find(".buttons"));
            $(".buttons").show();
          });

          $(".weiter-lesen").click(function(e){
            e.preventDefault();
            $(this).parent().hide().parent().find(".komplett").show();
          });

          $(".schliessen").click(function(e) {
            e.preventDefault();
            hidePopup();
          });


          // Zeitleiste

          // var zeitleiste = $(".zeitleiste").hide(),
          //     tag = $(".tag"),
          //     timer = null;

          // $(".tage .tag, .tagesansicht").mousemove(function(e) {
          //   var tages_anfang,
          //       offset,
          //       stunden,
          //       minuten,
          //       tag_scrolltotop = $(".tag-container").scrollTop();

          //   window.clearTimeout(timer);
          //   zeitleiste.fadeIn();

          //   offset = e.pageY - tag.offset().top - 35;
          //   if(offset>=25) {
          //   	zeitleiste.css("top", offset);
            
          //   tages_anfang = $(".tage .tag, .tagesansicht div.tag").data("anfang").split(":");
          //   stunden = Math.floor((offset - 25 + tag_scrolltotop) / 60) + tages_anfang[0] * 1;
          //   minuten = Math.floor((offset - 25 + tag_scrolltotop) - Math.floor((offset - 25 + tag_scrolltotop) / 60)*60) + tages_anfang[1] * 1;

          //   stunden = (stunden<10 ? "0" : "") + stunden;
          //   minuten = (minuten<10 ? "0" : "") + minuten;
          //   zeitleiste.attr("data-hint", stunden+":"+minuten);
            
          //   timer = window.setTimeout(function() {
          //       zeitleiste.fadeOut();
          //     }, 2000);
          //   }
	        
          // });

        });
      })();
      </script>